.animate-parent {
  display: flex;
  overflow: hidden;
  width: 100%;
}
.animate {
  animation: move-left 12s ease-in-out forwards;
  background-color: yellow;
  color: #000;
  width: 100%;
}
.second-animate {
    animation: move-left 12s ease-in-out infinite;
//   animation: bounce 3s ease-in-out infinite;
  background-color: orange;
//   animation-delay: 2s;
  color: #000;
  width: 100%;
}

@keyframes bounce {
  0% {
    left: 0;
  }
  50% {
    left: calc(100% - 50px);
  }
  100% {
    left: 0;
  }
}

@keyframes move-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100vw);
  }
}
