// .animated {
//   background-repeat: no-repeat;
//   background-position: left top;
//   padding-top: 95px;
//   margin-bottom: 60px;
//   animation-duration: 0.5s;
//   animation-fill-mode: both;
// }
// .pusha-t {
//   height: 80vh;
// }
// .scroll-wrapper {
//   width: 100%;
//   background-color: orange;
//   height: 70vh;
//   align-items: center;
//   justify-content: center;

//   display: flex;
//   .circle {
//     background: #e3655c;
//     background: -webkit-radial-gradient(center, #e3655c, #cd29e7);
//     background: -moz-radial-gradient(center, #e3655c, #cd29e7);
//     background: radial-gradient(ellipse at center, #e3655c, #cd29e7);
//     border-radius: 50%;
//     align-items: center;
//     justify-content: center;

//     display: flex;
//   }
// }
// .batty {
//   height: 30vh;
//   background-color: palegreen;
// }
// @keyframes fadeIn {
//   0% {
//     opacity: 0;
//     transform: translateY(60px);
//   }
//   100% {
//     opacity: 1;
//   }
// }

// .fadeIn {
//   animation-name: fadeIn;
// }
.form-item {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.calorie-form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  position: relative;

  .form-manual-control {
    position: absolute;
    bottom: 3%;
    align-items: flex-start;
    padding-left: 75%;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .form-manual-control span {
    margin-right: 1rem;
    padding: 1rem;
    border-radius: 2px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      cursor: pointer;
    }
  }

  .form-input {
    width: 100%;
    font-family: inherit;
    color: rgb(255, 255, 255);
    padding: 0px 0px 8px;
    border: none;
    outline: none;
    border-radius: 0px;
    appearance: none;
    background-color: transparent;
    font-size: 30px;
    -webkit-font-smoothing: antialiased;
    line-height: unset;
    -webkit-text-fill-color: rgb(255, 255, 255);
    margin-top: 0.5rem;
    // animation: 1ms ease 0s 1 normal none running native-autofill-in;
    // transition: background-color 1e8s ease 0s, box-shadow 0.1s ease-out 0s;
    box-shadow: rgba(255, 255, 255, 0.3) 0px 1px;
    background-color: transparent !important;
  }
  .slide-up {
    display: block;
  }
  form {
    background-color: rgb(2, 72, 49);
    width: 100%;
    height: 100dvh;

    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);

    .intro-item {
      text-align: center;

      h2 {
        margin: 0px;
        font-family: "Cabin", sans-serif;
        max-width: 100%;
        width: inherit;
        font-weight: unset;
        text-transform: none;
        font-size: 28px;
        line-height: 32px;
        padding: 0 20%;
      }
      button {
        margin-right: 1rem;
        padding: 8px 18px;
        min-height: 48px;
        background-color: rgb(255, 255, 255);
        color: rgb(128, 128, 128);
        cursor: pointer;
      }
      .button-wrapper {
        padding-bottom: 1rem;
        padding-top: 1rem;
        span {
          font-weight: unset;
          font-size: 12px;
          line-height: 16px;
        }
      }
      .timeline {
        font-weight: unset;
        font-size: 12px;
        line-height: 16px;
      }
    }
  }
}
.calorie-form-button {
  position: relative;
  font-family: inherit;
  line-height: 24px;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  transition-duration: 0.1s;
  transition-property: background-color, color, border-color, opacity,
    box-shadow;
  transition-timing-function: ease-out;
  outline: none;
  border: 1px solid transparent;
  margin: 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 12px 0px;
  padding: 8px 18px;
  min-height: 48px;
  background-color: rgb(255, 255, 255);
  color: rgb(128, 128, 128);
  border-radius: 5px;
  margin-top: 1rem;
}
.slide-up {
  display: block;
  animation-name: slideUp;
  // position: relative;

  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20vh);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.form-item-title {
  span {
    font-size: 24px;
    line-height: 32px;
  }
}
.gender-div {
  display: flex;

  width: 60%;
  justify-content: space-between;
  .male {
    display: flex;
    align-items: center;
    flex-direction: column;
    // padding: 10px;
    width: 45%;
    background-color: rgba(255, 255, 255, 0.425);
    border: 1px solid white;
    border-radius: 5px;
    overflow: hidden;
    .top-check {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      align-items: center;
      .check-wrapper {
        background: linear-gradient(
          to top right,
          rgba(255, 255, 255, 0) 50%,
          #fff 50%
        );
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
          color: rgb(2, 72, 49);
          // background-color: #fff;
          font-size: 18px;
          // width: 25px;
          // height: 25px;
          margin: 0;
          margin-left: 50%;
          margin-bottom: 33%;
          display: flex;
          justify-content: flex-end;
          align-items: center;
        }
      }
    }
    .text-option {
      display: flex;
      // justify-content: space-between;
      padding-right: 100%;
      width: 100%;
      padding: 5px 10px;
      p {
        margin-right: 1rem;
      }
    }
  }
  img {
    margin: 10% 20%;
    // margin-bottom: 0;
    width: 200px;
  }
}

.flicker {
  // width: 200px;
  // height: 200px;
  // background: red;
  animation: flicker 0.9s infinite;
}

@keyframes flicker {
  0% {
    background-color: rgba(255, 255, 255, 0.425);
  }
  25% {
    background-color: rgb(255, 255, 255);
  }
  50% {
    background-color: rgba(255, 255, 255, 0.425);
  }
  75% {
    background-color: rgb(255, 255, 255);
  }
  100% {
    background-color: rgba(255, 255, 255, 0.425);
  }
}
.middle-div {
  display: flex;
  padding: 2.5% 0%;
  padding-bottom: 0;
}
.middle-text-wrapper {
  padding-left: 2.5%;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.bottom-div {
  padding: 2.5% 0%;
  p {
    padding-bottom: 0.3rem;
  }
}

@media screen and (max-width: 812px) {
  .modal-dialog {
    padding: 0 2.5%;
  }
  .calorie-form-wrapper {
    .form-item {
      width: 80%;
    }
    .form-input {
      font-size: 20px;
    }
    .form-manual-control {
      padding: 0 5%;
    }
    form .intro-item {
      padding: 0% 5%;
      h2 {
        padding: 0;
        font-size: 20px;
      }
    }
  }

  .form-item-title span {
    font-size: 20px;
  }
  .gender-div {
    flex-direction: column;
    height: 80%;
    width: 80%;
    padding: 5% 0;
    img {
      width: 150px;
    }
    .male {
      width: 100%;
    }
  }
  .middle-div {
    flex-direction: column;
    align-items: center;
  }
  .nutritional-breakdown {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
