
.second-meal{
    position: relative;
    background-image: url("../images//chicken-rice.jpg");
}

.meal-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
 
    width: 70%;
    align-self: center;
    gap:30px;
}