.meal-item {
  background-color: rgb(182 175 172);
  border-radius: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 450px;
  height: 450px;
  position: relative;
  background: url("../images//chicken-rice.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  img {
    width: 200px;
    border-radius: 10px;
  }
  .circle {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: #cee5ed;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:30px;
    right: 0px;
    color: #fff;
    text-transform: uppercase;

    p {
      font-size: 16px;
    }
  }
}
