// .second-meal{
//     position: relative;
//     background-image: url("../images//chicken-rice.jpg");
// }

// .meal-wrapper {
//     display: grid;
//     grid-template-columns: 1fr 1fr;

//     width: 70%;
//     align-self: center;
//     gap:30px;
// }

.home-page {
  .home-header {
    position: relative;
    height: 80vh;
    background: url("../images/home-header.jpg") center/cover no-repeat;
    h2 {
      text-transform: uppercase;
      font-size: 72px;
      font-family: "Bebas Neue", cursive;
    }
    p {
      font-family: MyFont, cursive;
      line-height: 36px;
      font-size: 24px;
      text-align: center;
      padding: 2% 0;
    }
  }

  .home-header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as desired */
  }

  .home-header .cta-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    color: #fff;

    button {
      border-radius: 10px;
      padding: 10px 20px;
      background-color: #5f1350;
      color: #fffaed;
      border: 0;
      font-family: "Bebas Neue", cursive;
      letter-spacing: 2px;
      line-height: 36px;
      font-size: 22px;
      font-weight: bolder;
      text-transform: uppercase;
    }
  }

  .features-wrapper {
    padding: 3% 7.5%;
    h2,
    h4 {
      text-align: center;
    }
  }
  .features {
    display: flex;
    justify-content: space-between;
    padding: 3% 0%;
    align-items: flex-start;
    div {
      width: 30%;
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        width: 70%;

        padding: 5%;
      }
      p {
        text-align: center;
        padding-top: 5px;
        font-weight: 500;
      }
    }
  }
  .benefits {
    display: flex;
    justify-content: space-between;
    padding: 5% 7.5%;
    width: 100%;
    box-sizing: border-box;

    background-color: #702c63;

    .left {
      width: 50%;
      display: flex;

      justify-content: center;
      align-items: center;
      img {
        width: 70%;
        border-radius: 5px;
      }
    }
    .right {
      width: 50%;
      display: flex;
      padding-top: 10%;
      // justify-content: center;
      // align-items: center;
      flex-direction: column;
      h2 {
        font-size: 36px;
        line-height: 60px;

        color: #fffaed;
        letter-spacing: 2.5px;
        border-bottom: 3px solid #fffaed;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
      }
      p {
        font-family: MyFont, cursive;
        line-height: 36px;
        font-size: 18px;
        font-weight: bolder;
        padding-bottom: 2%;
        color: #fffaed;
      }
      button {
        width: 30%;
      }
    }
  }
  .product-options {
    padding-top: 5%;
    .text {
      padding: 0 7.5%;
      width: 80%;
    }
    .product-wrapper {
      .controls {
        padding-left: 82.5%;
        padding-right: 10%;
        display: flex;
        justify-content: space-between;
        padding-bottom: 2rem;
        align-items: center;
        div {
          padding: 7.5% 12.5%;
          background: #fffaed;
          border-radius: 10px;
          color: #702c63;
          font-weight: 800;
          &:hover {
            cursor: pointer;
          }
        }
      }

      .slide-item-container {
        padding: 0 25px;
        display: flex;
        overflow-x: auto;
        overflow-y: auto;
        padding-bottom: 7.5%;
        width: 100%;
        .meal-item {
          min-width: 375px;
          width: 375px;
          height: 375px;
          margin: 0 25px;
        }
      }
    }
  }
  .benefits-2 {
    display: flex;
    justify-content: space-between;
    padding: 5% 7.5%;
    width: 100%;
    box-sizing: border-box;

    background-color: #702c63;

    .left {
      width: 50%;
      display: flex;

      justify-content: center;
      align-items: center;
      img {
        width: 70%;
        border-radius: 5px;
      }
    }
    .right {
      width: 50%;
      display: flex;
      padding-top: 10%;
      // justify-content: center;
      align-items: center;
      flex-direction: column;
      h2 {
        font-size: 36px;
        line-height: 60px;

        color: #fffaed;
        letter-spacing: 2.5px;
        border-bottom: 3px solid #fffaed;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
      }
      p {
        font-family: MyFont, cursive;
        line-height: 36px;
        font-size: 18px;
        font-weight: bolder;
        padding-bottom: 2%;
        color: #fffaed;
        text-align: center;
      }
      button {
        width: 30%;
        align-self: center;
      }
    }
  }
  .smoothie-product-options {
    .top-text {
      padding: 3% 7.5%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      h2 {
        padding: 0.5rem 0;
      }
      .text {
        max-width: 60%;
      }
      button {
        border-radius: 10px;
        padding: 10px 20px;
        background-color: #5f1350;
        color: #fffaed;
        border: 0;
        font-family: "Bebas Neue", cursive;
        letter-spacing: 2px;
        line-height: 36px;
        font-size: 22px;
        font-weight: bolder;
        text-transform: uppercase;
        width: fit-content;
        height: fit-content;
      }
    }
    .smoothie-product-wrapper {
      padding: 3% 25px;

      display: flex;
      width: 100%;
      justify-content: space-between;
      overflow: scroll;
    }
  }
}
@media screen and (max-width: 812px) {
  .home-page .home-header {
    .cta-button {
      width: 80%;
    }
    h2 {
      font-size: 48px;
    }
  }
  .home-page {
    .features-wrapper {
      padding: 5% 7.5%;
      .features {
        flex-direction: column;
        div {
          width: auto;
        }
      }
    }
  }
}
